html {
	scroll-behavior: smooth;
}
#menu
{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	position: fixed;
	width: 100%;
	height: 38px;
	background: rgba(94, 134, 243, 0.445);
	overflow: hidden;
}
ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;

}
li {
	transition-duration: 0.2s;
	list-style-type: none;
	text-align: center;

	}
li:hover{
	border-radius: 10px;
	background-color: rgba(255, 127, 80, 0.603);
	color: white;
}
li a 
{
	transition-duration: 0.2s;
	text-decoration: none;
	color: rgb(0, 0, 0);
	text-align: center;
	display: block;
	padding: 10px;
	margin: 0px;
	}
	

ret{
	position: fixed;
	
	height: 5%;
	width: 5%;
}
body
{
	background-image: url("aquaduct.jpg");
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
}
#name-table{
	margin-left: auto;
	margin-right: auto;
}
#name{
	text-align: center;
	font-size: 50px;
}
p
{
	font-weight: bold;
	font-size: larger;
	/* font-family: "Lucida Console", "Courier New", monospace; */
	font-family: "Times New Roman", Times, sans-serif;
	text-align: center;
	border-radius: 10px;
	text-transform: capitalize;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	background: rgba(123, 177, 123, 0.507);
	z-index: -100;
}
#about{
	font-weight: normal;
	background-color: #cccccc36;
    text-shadow: 3px 0 0 #ffffff, 0 -1px 0 #ffffff, 0 1pxrgb(255, 255, 255)000, -1px 0 0 #ffffff;
	border-width: 10px 10px;
	border-color: #ccc;
	border: solid;
	margin: 0% 10% 10% 10%;
	padding: 20px;
	text-align: center;
	
}
div.text-center{
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #ccc;
	border-width: 10px 10px;
	border-color: #ccc;
	border: solid;
	padding: 20px;
}

.grid-container{
	width: 100%;
	max-height: 50000px;
	display: inline-grid;
	grid-auto-flow: column;
	/* grid-template-columns:  auto auto auto auto auto auto; */
	overflow: auto;
	justify-content: center;
	gap: 1%;
}
#contact-me{
	margin-left: 20%;
	margin-right: 20%;
	background-color: #ccc;
	border-width: 10px 10px;
	border-color: #ccc;
	border: solid;
	padding: 20px;

}
#answer{
	margin: auto;
	background-color: #ccc;
	border-width: 10px 10px;
	border-color: #ccc;
	border: solid;
	padding: 20px;

}
div.gallery {
	margin: 5px;
	width: auto;
	transition: 1s;
	-webkit-transition: width 1s ease, height 1s ease;
  }

  
  div.gallery img {
	width: 100%;
	height: auto;
	
	
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
	text-shadow:  0px 0px 10px #FFFFFF;
  }

#qr {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	width: 200px;
	animation: fade 2s;
  }
#qr:hover{
	animation: rotation 2s infinite linear;
}
#msg{
	width: 50%;
}


#img_display{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
}

#img_display img {
	max-width: 80%;
	max-height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

#img_display button {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 48px;
	color: white;
	background-color: transparent;
	border: none;
}



@keyframes fade {
	0% { opacity: 0; }
	100% { opacity: 1; }
	}

@keyframes rotation {
from {
	transform: rotate(0deg);
}
to {
	transform: rotate(359deg);
}
}
